<html>
<style>
{% include "mysurvey.css" %}
</style>
<body>
<div class="question"><label class="question-label">Vraag {{question.id}}: {{question.question}}</label></div>

<form action="process_response" method="get"> 
<input type="hidden" name="session_id" value="{{session_id}}"/>

<div class="answer">
{% for option in options %}
{% if option.id in response %}
<div><input type="checkbox" name="{{question.id}}" value="{{option.id}}" checked="checked">{{option.value}}</input></div>
{% else %}
<div><input type="checkbox" name="{{question.id}}" value="{{option.id}}">{{option.value}}</input></div>
{% endif %}
{% endfor %}
</div>

<div class="buttons">
<input type="submit" name="back" value="Vorige"/>
<input class="next" type="submit" name="next" value="Volgende"/>
</div>
<form>
</body>
</html>